body {
    overflow: hidden;
}

#page_view {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#page_view > #container {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}

#page_view > #container > #sidebar,
#page_view > #container > #details {
    background: #eee;
    width: 300px;
}

#page_view > #container > #sidebar > .action_button {
    border-bottom: 1px solid #ddd;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 20px 17px;
    padding: 20px 20px 20px 50px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

#page_view > #container > #sidebar > .action_button:hover {
    background-color: #ddd;
}

.icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
    background: no-repeat center;
    background-color: #f8f8f8;
    border-radius: 50%;
    padding: 3px;
    background-size: 50%;
    box-sizing: border-box;
    vertical-align: middle;
}

#page_view > #container > #sidebar > #home {
    background-image: url(../img/home_icon.png);
}

#page_view > #container > #sidebar > #new_folder {
    background-image: url(../img/plus_icon.png);
}

#page_view > #container > #sidebar > #upload {
    background-image: url(../img/upload_icon.png);
}

#page_view > #container > #details {
    transition: 0.5s;
    border-left: 1px solid #ccc;
    padding: 10px;
}

#page_view > #container > #details > #filename {
    text-align: center;
    font-weight: 800;
    margin-bottom: 30px;
}

#page_view > #container > #details > #large_icon {
    background-image: none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

#page_view > #container > #details > #info {
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
}

#page_view > #container > #details > #info > tbody > tr:first-child {
    border-top: 1px solid #ddd;
}


#page_view > #container > #details > #info > tbody > tr {
    border-bottom: 1px solid #ddd;
}

#page_view > #container > #details > #info > tbody > tr > td {
    padding: 5px;
}

#page_view > #container > #sidebar {
    border-right: 1px solid #ccc;
}

#page_view > #container > #file_view {
    background: #eee;
    flex-grow: 1;
    overflow-y: scroll;
    -webkit-user-select: none;
    user-select: none;
}

#page_view > #container > #file_view  > #entry_table {
    width: 100%;
    border-collapse: collapse;
    background: #f8f8f8;
}

#page_view > #container > #file_view  > #entry_table > tbody > .selected_entry {
    background: #4b84c3;
    color: #fff;
}

#page_view > #container > #file_view  > #entry_table > tbody > tr:hover {
    background: #eee;
    cursor: pointer;
}

#page_view > #container > #file_view  > #entry_table > tbody > .selected_entry:hover {
    background: #3b75aa;
}

#page_view > #container > #file_view  > #entry_table > tbody > tr > td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#page_view > #container > #file_view  > #entry_table > tbody > tr:first-child > td:not(:last-child) {
    border-right: 1px solid #ddd;
}

#page_view > #container > #file_view  > #entry_table > tbody > tr:first-child {
    background: #eee;
    box-sizing: border-box;
}

#page_view > #container > #file_view  > #entry_table > tbody > tr:first-child > td {
    padding-top: 12px;
}

#page_view > #container > #file_view  > #entry_table > tbody > tr > td:nth-child(2),
#page_view > #container > #file_view  > #entry_table > tbody > tr > td:nth-child(3) {
    width: 200px
}

#page_view > #header {
    line-height: 35px;
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
    border-bottom: 1px solid #ddd;
    z-index: 50;
}

#page_view > #header > #top {
    padding: 15px 15px 15px 315px;
}

#page_view > #header > #breadcrumbs {
    width: 100%;
    font-size: 12px;
    line-height: 12px;
    color: #777;
    text-align: left;
    border-top: 1px solid #eee;
    padding-left: 300px;
    box-sizing: border-box;
}

#page_view > #header > #breadcrumbs > .breadcrumb {
    padding: 5px;
    border-right: 1px solid #eee;
    display: inline-block;
    cursor: pointer;
}

#page_view > #header > #breadcrumbs > .breadcrumb:hover {
    color: #ccc;
}

#page_view > #header > #breadcrumbs > .breadcrumb:first-child {
    padding: 0;
    height: 22px;
    width: 22px;
    position: relative;
    background: url(../img/home_icon.png) no-repeat center center;
    background-size: 12px;
    border-left: 1px solid #eee;
    vertical-align: bottom;
}

#page_view > #header > #top > #search {
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    width: 300px;
    float: right;
    border-radius: 3px;
    border: 1px solid #eee;
    background-color: #eee;
    outline: none;
}

#page_view > #header > #top > #search:focus {
    background-color: #fff;
    border: 1px solid #eee;
}

#page_view > #header > #top > #search_tray {
    position: absolute;
    top: 55px;
    right: 15px;
    padding: 10px 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 300px;
    border-radius: 3px;
    box-sizing: border-box;
}

#page_view > #header > #top > #search_tray > .result {
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    line-height: 14px;
    cursor: pointer;
}

#page_view > #header > #top > #search_tray > .result:hover {
    background: #f8f8f8;
}

#page_view > #header > #top > #search_tray > .result:not(:last-child) {
    border-bottom: 1px solid #eee;
}

#page_view > #footer {
    height: 20px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    text-align: right;
    padding: 3px 10px 3px 3px;
    color: #888;
    font-size: 12px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-track {
    transition: 0.5s;
    width: 0;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    cursor: pointer;
}

.folder_icon_gray {
    background-image: url(../img/folder_icon.png)
}

.file_icon_gray {
    background-image: url(../img/file_icon.png)
}

#new_folder_name_input {
    padding: 5px;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    float: right;
    border-radius: 3px;
    border: 1px solid #eee;
    background-color: #eee;
    outline: none;
    margin-bottom: 5px;
}

#upload_progress_outer {
    width: 100%;
    height: 20px;
    background: #ccc;
    margin-top: 10px;
    transition: 0.1s;
}

#image {
    height: 100%;
}

#upload_progress_inner {
    width: 0;
    height: 100%;
    background: #4b84c3;
}

.jsh_alert_window_large {
    max-height: 90% !important;
    max-width: 90% !important;
}

.jsh_alert_window_image {
    max-width: 1000px !important;
}

.jsh_alert_message_large {
    overflow-y: scroll !important;
}

#jsh_alert_container {
    background: none;
}

#jsh_alert_window {
    background: #fff;
    border: 1px solid #999;
}